/* Estilização geral do corpo da página */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/* Cabeçalho da página */
header{
    background-color: #4caf50;
    color: #ffff;
    text-align: center;
    padding: 20px;
}

/* Estilização do menu de navegação */
nav ul{
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: #333;
}

nav ul li{
    display: inline; /* exibe os itens da lista na mesma linha*/
    margin: 15px;
}

nav ul li a{
    color: #fff;
    text-decoration: none; /*remove o sublinhado dos links*/
    font-size: 18px; /*tamanho do fonte*/
}

/* ----- Classe ---- */
.conteudo{
    background-color: #fff;
    margin: 20px auto;  /* centralizar a caixa e adiciona um espaçamento */
    padding: 20px;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /*adiciona sombra*/
    border-radius: 8px;
}

.destaque{
    border: 2px solid #4caf50;
    padding: 15px;
    background-color: #e8f5e8;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Estilização geral */
img{
    width: 100%; /*Define a largura total da imagem */
    max-width: 600px; /* Delimita que a imagem chegue no máximo a 600px */
    display: block; /* remove espaçamentos */
    margin: 10px auto; /*centraliza a imagem */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative; /* fixa o rodapé embaixo da página */
    bottom: 0;
}

.beneficios ul li{
    display: flex;
    text-align: center;
    margin: 10px auto;
}

.main{
    display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
h2 {
    text-align: center;
}
label {
    font-weight: bold;
}
input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #218838;
}